
#Start-Screen{
    font-size: min(5vw,5vh);
    display : flex ;
    flex-direction : column ;
    align-items: center; 
}
#playAI{
    color : cyan ;
    font-size: min(4vw,4vh);
    background-color: rgb(203, 45, 45);
    border-radius: 30px;
    font-family: 'Segoe UI' ;
    cursor: pointer;
    transition: background-color  0.4s, padding 0.4s;
}

#playAI:hover{
   background-color: rgb(255, 47, 0);
   padding: 4px 8px ;
}

#AImodes{
    font-size: min(4vw,4vh);
    display : none ;
    flex-direction : column ;
    align-items: center; 
}

.AImodes{
    font-size: min(4vw,4vh);
    margin-top: 15px ;
    color : cyan ;
    background-color: rgb(203, 45, 45);
    border-radius: 30px;
    font-family: 'Segoe UI' ;
    cursor: pointer;
    transition: background-color  0.4s , padding 0.6s;
}

.AImodes:hover{
    background-color: rgb(255, 47, 0);
   padding: 4px 8px ;

}

#playlocal{
    font-size: min(4vw,4vh);
     color : cyan ;
    background-color: rgb(203, 45, 45);
    border-radius: 30px;
    font-family: 'Segoe UI' ;
    cursor: pointer;
    transition: background-color  0.4s, padding 0.4s;
}

#playlocal:hover{
    background-color: rgb(255, 47, 0);
    padding: 4px 8px ;
}
#Game-Screen {
    font-size: min(3vw,2vh);
    display: none;
    flex-direction: column;
    align-items: center;


}
#Score {
    display : flex ;
    gap : 45vw;
    color : red ;
}


#Board {
    display : grid ;
    grid-template-columns : 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color : black;
    width : min(70vh,70vw) ;
    aspect-ratio: 1/1;
    border : 1px solid black
}



#Board div {
    display: flex;
    background-color : rgb(111, 111, 235) ; 
    border : 1px solid black ; 
    font-size : min(15vw,15vh) ;
    color: rgb(255, 255, 0);
    align-items: center;
    justify-content: center;
    transition : background-color  0.4s;
    cursor: pointer;
    border-radius: 20px;


}

#Board div:hover{
    background-color:  rgb(111, 111, 255) ;
}

#Body {
    background: linear-gradient(to bottom, rgb(41, 1, 41), black);
    color: greenyellow;
    display : flex ;
    height : 100vh ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#restart {
    color : cyan ;
    background-color: rgb(203, 45, 45);
    border-radius: 30px;
    font-family: 'Segoe UI' ;
    cursor: pointer;
    transition: background-color  0.4s;
    padding: 8px 16px;
    font-size: 1rem;
}

#restart:hover {
    background-color: rgb(255, 47, 0);
}
#GameOver{
    margin-bottom:0 ;
    margin-top: 0.5em ; 
}

#winner{
    margin-bottom: 0;
    margin-top: 0.5em ; 
}
 
#heading{
    margin-top: 0.5em;
    margin-bottom : 0.5em ;
}

@keyframes popAnimation {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes winanimation {
    0% {
        transform:scale(1);
    }
    
    100% {
        transform:scale(2);
    }
}
.pop {
    animation: popAnimation 0.3s;
}

.winanim{
    animation : winanimation 1s forwards;
}

.Homebutton {
    position : absolute ;
    top : 2vw ;
    left : 2vw ;
    color : cyan ;
    font-size: min(4vw,4vh);
    background-color: rgb(203, 45, 45);
    border-radius: 30px;
    font-family: 'Segoe UI' ;
    cursor: pointer;
    transition: background-color  0.4s, padding 0.4s;
}
